.Header {
  text-align: center;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 80px;
}

.Header-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu li {
  display: inline-block;
  padding: 10px;
}
